*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    max-width: 600px;
    width: 70%;
    height: auto;
    padding: 12px 25px;
    border: 4px solid rgb(139, 80, 80); 
    margin-top: 5px;
    margin-bottom: 5px;
}
form h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 8px 25px;
    color: rgb(139, 80, 80);
}
form .input-box{
    width: 100%;
    margin: 15px 0;
    padding: 0 18px;
    display: flex;
    justify-content: flex-start;
}
form .input-box input{
    width: 50%;
    margin-left: 15px;
    padding: 3px;
}
.opt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-left: 15px;
}
.input-box input:focus, #other:focus{
    background-color: rgb(139, 80, 80);
    color: #fff;
}
.input-box textarea{
    padding: 5px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.btn input[type=submit]{
    padding: 6px 45px;
    border-radius: 15px;
    border: 2px solid rgb(139, 80, 80);
    color: rgb(139, 80, 80);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease;
}
.btn input[type=submit]:hover{
    color: #fff;
    background-color: rgb(139, 80, 80);
}