*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    width: 100%;
}
.cards{
    background: #f6f9ff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #434343;
    padding: 32px;
}
.card{
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem 1.5rem;
    margin-left: 32px;
}
.card:first-child{
    margin-left: 0;
}
.card img{
    width: 100%;
}
.icon{
    width: 64px;
    height: 64px;
}
.card button{
    padding: .5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: bold;
    margin-top: 15px;
    color: #fff;
}
.cards .contact button{
    background: linear-gradient(to right, #9f66ff, #dfcbff);
}
.cards .shop button{
    background: linear-gradient(to right, #3e8aff, #bbdeff);
}
.cards .about button{
    background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}
.cards .contact{
    box-shadow: 20px 20px 50px -30px #ddc4ff;
}
.cards .shop{
    box-shadow: 20px 20px 50px -30px #afd6ff;
}
.cards .about{
    box-shadow: 20px 20px 50px -30px #ffc1d5;
}
.cards .card h3{
    margin: 16px 0; 
    font-size: 100%;
}
.cards .card span{
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-top: 16px;
}
@media screen and (max-width: 680px){
    .cards{
        flex-direction: column;
        justify-content: space-around;
    }
    .cards .card{
        margin-bottom: 15px;
    }
    .cards .card:first-child{
        margin-left: 32px;
    }

}