*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr: #20145c;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);
}
.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle{
    position: relative;
    width: 65px;
    height: 65px;
    background-color: #ff4886;
    border: 5px solid var(--clr);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-30px);
}
.menuToggle::before{
    content: '+';
    position: absolute;
    font-size: 3em;
    font-weight: 200;
    color: #fff;
    transition: 1.5s;
}
.menuToggle.active::before{
    transform: rotate(225deg);
}
.menuToggle i{
    position: absolute;
    inset: 0;
}
.menuToggle i::before{
    position: absolute;
    top: 22px;
    left: -23px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 3px -7px var(--clr);
}
.menuToggle i::after{
    position: absolute;
    top: 22px;
    right: -23px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -3px -7px var(--clr);
}
.menu{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 70px;
    transform: translateY(-30px);
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, .5s, .5s;
}
.menuToggle.active ~ .menu{
    width: 360px;
    height: 70px;
    transform: translateY(0px);
    transition-delay: 0s, 0.5s, 0.5s;
}
.menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    line-height: 2.5;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    transition-delay: calc(0s + var(--i));
}
.menuToggle.active ~ .menu ul li{
    opacity: 1;
    visibility: visible;
    transition-delay: calc(0.75s + var(--i));
    transform: translateY(0px);
}
.menu ul li:nth-child(3){
    width: 30px;
}
.menu ul li a{
    display: block;
    font-size: 1.8em;
    text-decoration: none;
    color: #555;
}
.menu ul li:hover a{
    color: #ff4886;
}