h3{
    text-align: center;
    text-transform: uppercase;
}
form{
    width: min-content;
    margin: 0 auto;
}
form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box{
    margin: 15px 0;
}
form a{
    margin-top: 15px;
}