:root{
    --cor-fundo: rgb(16, 26, 17);
    --cor-primaria: rgb(201, 209, 201);
    --cor-hover: rgb(22, 170, 35);
}
.dp-menu ul{
    list-style: none;
    padding: 0;
    background-color: var(--cor-fundo);
}
.dp-menu ul li{
    position: relative;
    display: inline;
}
.dp-menu ul li a{
    display: inline-block;
}
.dp-menu ul li a{
    background-color: var(--cor-primaria);
    text-decoration: none;
    padding: 10px;
}
.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
}

/*Sub-menu*/
.dp-menu ul ul{
    display: none;
    position: absolute;
    left: 0;
    width: 150px;
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul li a{
    display: block;
}