*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body, html{width: 100%;}
.carrossel{
    width: 450px;
    height: 280px;
    border: 3px solid;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.carrossel ul {
    list-style: none;
    width: 1200px;
    height: 280px;
    display: flex;
}
img{
    width: 450px;
    height: 280px;
}
.carrossel li{
    position: relative;
    animation: slide 8s infinite ease-out;
}

@keyframes slide {
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    30%{
        left: -450px;
    }
    50%{
        left: -450px;
    }
    60%{
        left: -900px;
    }
    90%{
        left: -900px;
    }
    100%{
        left: 0px;
    }
}
