*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
html, body{
    width: 100%;
}
header, .box2{
    display: flex;
}
header{
    width: 100%;
    height: 28vh;
    padding-top: 15px;
    background: linear-gradient(45deg, rgba(196, 87, 109, 0.836), rgb(138, 138, 131));
}
.box1, .box2{
    background-color: transparent;
}
.box1{
    width: 25%;
    height: 100%;
}
.box2{
    width: 75%;
    height: 100%;
    flex-direction: column;
}
.box2 h1{
    text-transform: capitalize;
}
.box2 nav{
    margin-top: 15px;
}
.box2 nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: rgba(168, 58, 58, 0.658);
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: transform .5s, background-color .4s ease-in .2s;
}
.box2 nav a:hover{
    transform: scale(1.2);
    background-color: red;
}
.logo{
    animation: logo 2s;
    position: relative;
}
@keyframes logo {
    from{
        transform: rotate(0) scale(.5);
        left: 120%;
    }
    to{
        transform: rotate(-720deg) scale(1);
        left: 0;
    }
}