*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 22, 22);
}
.bloco{
    width: 350px;
    margin: 20% auto;
    text-align: center;
}
.bloco button{
    height: 2.3em;
    width: 5.5em;
    border: none;
    color: #fff;
    cursor: pointer;
}
.bloco button:active{
    background-color: #fff;
}
.bloco h1{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}
.start-btn{
    background-color: rgb(39, 143, 39);
}
.pause-btn{
    background-color: rgb(97, 92, 92);
}
.stop-btn{
    background-color: rgb(202, 35, 35);
}
