*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Open Sans', sans-serif;    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf6f1;
}
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 80%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: '';
    position: absolute;
    background-color: #48dbaa;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}
.first-content{
    display: flex;
}
.first-content .second-column{
    z-index: 12;
}
.title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color: #fff;
}
.title-second{
    color: #48dbaa;
}
.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-social-media{
    display: flex;
    list-style: none;
    line-height: 35px;
}
.social-media{
    margin: 1rem  0;
}
.item-social-media{
    border: 2px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 10px;
    color: #bdc3c7;
}
.link-social-media:hover .item-social-media{
    background-color: #48dbaa;
    color: #fff;
    border-color: #48dbaa;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media  .item-social-media{
    transition: background-color .5s;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    border: none;
    background-color: #f0f1f0;
    margin: 8px;
    width: 100%;
}

.description{
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.description-primary{
    color: #fff;
}
.description-second{
    color: #48dbaa;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: 1px solid #48dbaa;
    margin-top: 1rem;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-second{
    background-color: #48dbaa;
    border: 1ps solid #48dbaa;
    transition: background-color .5s;
}
.btn-second:hover{
    background-color: #fff;
    color: #48dbaa;
    border: 1px solid #48dbaa;
}
.btn-primary:hover{
    background-color: #fff;
    color: #48dbaa;
}
.icon{
    color: #7f8c8d;
    padding: 0 5px;
}
.label-input{
    background-color: #f0f1f0;
    display: flex;
    align-items: center;
    margin: 8px;
}
.second-content{
    position: absolute;
    display: flex;
}
.second-content .first-column{
    order: 2;
    z-index: -1;
}
.second-content .second-column{
    order: 1;
    z-index: -1;
}
.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter{
    text-transform: capitalize;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .first-column{
    z-index: 11;
}
.sign-in-js .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -1;
}
.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column{
    z-index: 11;
}
